.timer-wrapper {
  position: absolute;
  top: 0%;

  left: 5%;
  transform: translate3d(0, -65%, 0);

  height: 70px;
  width: 70px;

  border-radius: 50%;
  border: 1px solid #e6e5e5;
  box-shadow: 2px 3px 1px rgba(0, 0, 0, 0.15);

  background-color: white;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 1rem;
  font-weight: 500;

  user-select: none;
}
