@media (min-width: 1024px) {
  .hide-on-desktop {
    display: none;
  }
}

@media (max-width: 1023px) {
  .hide-on-mobile-tablet {
    display: none;
  }

  .header__wrapper {
    justify-content: center;
  }
}

/* Tablet - PC low resolution */
@media (min-width: 740px) and (max-width: 1023px) {
  .hide-on-tablet {
    display: none;
  }

  .nav__btn {
    right: 0%;
  }

  .list-question {
    justify-content: space-around;
  }

  .quiz-page {
    padding-left: 10px;
    padding-right: 10px;
  }

  .list-day-item {
    width: 45px;
    height: 45px;
  }

  .day__text {
    margin: 0px 0px;
    font-size: 0.6rem;
    font-weight: 700;
  }
  .question__text .furi-text {
    font-weight: 500;
    font-size: 0.7rem;
  }
}
/* Mobile */
@media (max-width: 740px) {
  .hide-on-mobile {
    display: none;
  }
  /* Header */
  .toggle__menu .toggle__menu__btn {
    top: 25px;
    right: -80px;
  }

  .toggle__menu__btn:hover:after {
    width: 230px;
  }

  .toggle__menu__btn:hover {
    right: 110px;
  }
  /* End-Header */

  /* Quiz */
  .list-test-box {
    margin-top: 5px;
  }
  .quiz-page {
    padding: 0.8rem 2px 0 12px;
  }
  .list-question-box {
    min-height: 220px;
    margin-bottom: 5px;
  }
  .answer-section {
    padding-top: 10px;
  }

  .question__text > span > span {
    font-weight: 600;
    font-size: 1.2rem;
  }

  .question__text .furi-text {
    font-weight: 500;
    font-size: 0.5rem;
  }
  /* End-Quiz */
}
