h3 {
  margin: 0;
}
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  opacity: 0.5;
}

.modal-wrapper {
  position: fixed;
  top: 55px;
  left: 0;
  z-index: 1050;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  outline: 0;
}

.modal {
  z-index: 100;
  background: white;
  position: relative;
  margin: 1.75rem auto;
  border-radius: 1rem;
  max-width: 400px;
  padding: 2rem;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
}

.modal-footer {
  display: flex;
  justify-content: flex-end;

  padding-top: 1rem;
}

.modal-close-button {
  font-size: 1.4rem;
  font-weight: 700;
  padding: 5px 12px;
  color: #000;
  opacity: 0.3;
  cursor: pointer;
  border: none;

  border-radius: 50%;
  outline: none;
}

.modal-close-button:hover {
  filter: brightness(90%);
}

.btn-cancel,
.btn-submit {
  padding: 10px 15px;
  margin-left: 10px;
  border-radius: 8px;
  border-color: white;
  box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.45);
  border: 1px solid #e2e2e2;

  font-weight: 600;
  outline: none;
  transition: all 0.1 ease-in;
}

.btn-submit {
  background-color: #ff806a;
  border-color: #cf4b35;
  color: white;
}

.btn-submit:hover,
.btn-cancel:hover {
  filter: brightness(95%);
}
.btn-submit:active,
.btn-cancel:active {
  transform: translateX(2);
  transform: translateY(2);
  box-shadow: none;
}
