* {
  box-sizing: border-box;
}
.quiz-page {
  text-align: center;
  width: 100%;
  padding: 0;
  max-width: 1200px;
  margin: 0 auto;
  display: block;
  justify-content: center;
  align-items: center;
  padding-top: 4rem;
}

.quiz-box {
  height: 350px;

  background-color: white;
  border-radius: 1rem;

  box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.2);
}
.quiz-box button {
  margin: 10px 0;
}
.question-section {
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.question-section .question-text {
  font-size: 20px;
  font-weight: 500;
}

.answer-section {
  height: 50%;
  padding: 0 25px;
  padding-top: 30px;
}

.btn-answer {
  width: 90%;
  height: 50px;
  font-size: 16px;
  color: #000000;
  padding: 5px;
  border: 1px solid #eae1e1;
  border-radius: 10px;
  background: #efefef;
  cursor: pointer;
  outline: none;
  transition: all 0.1s ease-in;
}

button:hover {
  background-color: #d3d3d3;
}

.list-question-box {
  min-height: 260px;
  background-color: white;
  box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.list-question {
  padding: 20px 20px;
  margin: 0;
  height: 70%;
  display: flex;
  justify-content: flex-start;
  align-content: flex-start;
  flex-wrap: wrap;
  list-style: none;
}

.list-question-item {
  margin: 0 9px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 30px;

  border-radius: 8px;
  box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.45);
  border: 1px solid #e2e2e2;

  font-size: 20px;
  font-weight: 400;
  cursor: pointer;
}

.list-question-item:hover {
  background-color: #d3d3d3;
}

.list-question-item.list-question-item--current {
  background-color: #99e9f3;
}

.timer-wrapper {
  background: #dedede;
  height: 15px;
  border-radius: 20px;
  margin: 10px;
}

.timer-countdown-bar {
  background: #ffad55;
  height: 15px;
  border-radius: 20px;
  transition: width 1s linear;
}

.quiz-btn-box {
  display: flex;
}
